pandas
numpy 
seaborn
ipykernel

# data profiling
ydata_profiling

### EDA
dtale
plotly
nbformat
mlxtend
kmodes

#DB Scan
scikit-learn

# Feature engineering 
featuretools
Dask 
featuretools[dask]
imblearn

# Dimensionality reduction
scikit-learn
umap-learn
# -e .