pandas
numpy 
seaborn
ipykernel

# data profiling
ydata_profiling

### EDA
dtale
plotly
nbformat
mlxtend
kmodes

#DB Scan
scikit-learn

# Feature engineering 
featuretools
Dask 
featuretools[dask]
imblearn

# Dimensionality reduction
scikit-learn
umap-learn

# Automated ML 
requests
tabulate
future
# pip uninstall h2o
-f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o
# pip install -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o
tensorflow

matplotlib
graphviz

# # Manual Modelling
lightgbm
xgboost
catboost

# # hyper parameter optimization
optuna

polars 
pyarrow

# # model assesssmnet
shap 
lime 
eli5 
fairlearn

# # model deployment
streamlit
h2o
pandas
numpy
plotly
scikit-learn
gdown
# Conda activate venv/
# pip install -r requirements.txt
# -e .